@import "../presets.scss";

.heroContainer {
  overflow-x: hidden;
  text-align: center;
  min-height: 90vh;
  position: relative;
  padding: 0 3%;
}

.subText {
  font-size: $fs-400;
  margin-top: 2rem;
}

.CTA {
  padding: 0.8rem 3.8rem;
  font-size: 1.4em;
  margin-top: 5rem;
  margin-bottom: 10rem;
  border-radius: $radius-sm;
  border: 3px $clr-accent-400 solid;
  outline: 0;
  background: $clr-accent-400;
  color: $clr-nutral-0;
  cursor: pointer;
  box-shadow: 0 0 5px $clr-nutral-700;
  transition: 200ms ease-in-out;

  &:hover {
    // background-color: transparent;
    // color: $clr-nutral-1000;
    background-color: $clr-nutral-0;
    color: $clr-nutral-1000;
    transition: 200ms ease-in-out;
    border: 3px solid transparent;
    box-shadow: 0 0 5px $clr-accent-400;
  }

  @media screen and (max-width: 50em) {
    margin-top: 5rem;
    padding: 0.7rem 3rem;
    font-size: 1.2em;
  }
}

.heroBG1 {
  position: absolute;
  bottom: 0;
  width: 20vw;
  // center align

  @media screen and (max-width: 50em) {
    display: none;
  }
}

.heroBG2 {
  position: absolute;
  bottom: 0;
  width: 30vw;
  right: 0;
  overflow: hidden;

  @media screen and (max-width: 50em) {
    display: none;
  }
}

.arrow {
  position: absolute;
  bottom: 9vh;
  left: 50%;
  cursor: pointer;
}
//Hero section CTA arrows stlying
.arrow span {
  border-radius: 2px;
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 3.5px solid #000000;
  border-right: 3.5px solid #000000;
  transform: rotate(45deg);
  margin: -15px;
  animation: animate 2.5s infinite;
  cursor: pointer;
}

.arrow span:nth-child(2) {
  animation-delay: -0.3s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.6s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
