@import "../presets.scss";

// Desktop styling
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 2.5%;
  animation: 1s alternate appear;

  h1 {
    text-transform: uppercase;
  }

  .teamImage {
    width: 400px;
    padding: 1.2rem 0;
  }

  .arrow {
    margin-top: 1.3rem;
    cursor: pointer;
  }
  //Hero section CTA arrows stlying
  .arrow span {
    border-radius: 2px;
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 3.5px solid #000000;
    border-right: 3.5px solid #000000;
    transform: rotate(45deg);
    margin: -15px;
    animation: animate 2.5s infinite;
    cursor: pointer;
  }

  .arrow span:nth-child(2) {
    animation-delay: -0.3s;
  }

  .arrow span:nth-child(3) {
    animation-delay: -0.6s;
  }

  @keyframes animate {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
  }

  //Tablet styling
  @media (max-width: 50em) {
    .teamImage {
      width: 300px;
      padding: 2rem 0;
    }
    .scrollIcon {
      padding-top: 2rem;
      width: 30px;
    }
  }

  // Mobile styling
  @media (max-width: 36em) {
    .teamImage {
      width: 200px;
      padding: 1.5rem 0;
    }
    .scrollIcon {
      padding-top: 1.5rem;
      width: 20px;
    }
  }
}
