@import "../presets.scss";

// ------------------------ MERN card section styling ------------------------------------
// Mobile styling
.container {
  padding: 0 0.5rem;
  text-align: center;
  // margin-top: 5rem;
  margin-bottom: 10rem;
  padding-top: 5rem;

  h2 {
    text-transform: uppercase;
  }

  .mernCards {
    padding-top: 4rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 0.5rem 0;
      background-color: $clr-nutral-0;
      border-radius: $radius-sm;

      box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1); // Drop shadow for the card

      h3 {
        font-size: $fs-600;
      }
      img {
        height: 2.8rem;
        margin-bottom: 0.5rem;
      }
      p {
        margin-bottom: 0.5rem;
        font-size: $fs-100;
      }

      .expressLogo {
        padding: 0.4rem 0;
      }
    }
  }

  // Tablet styling
  @media (min-width: 36em) {
    .mernCards {
      gap: 1rem;

      .card {
        h3 {
          font-size: $fs-700;
        }

        img {
          height: 4rem;
          margin-bottom: 1rem;
        }

        p {
          margin-bottom: 1rem;
          font-size: $fs-200;
        }

        .expressLogo {
          padding: 0.7rem 0;
        }
      }
    }
  }

  // Desktop styling
  @media (min-width: 50em) {
    display: flex;
    flex-direction: column;
    align-items: center;

    .mernCards {
      margin: 0 auto;
      grid-template-columns: repeat(4, 11.4rem);

      .card {
        h3 {
          font-size: $fs-900;
        }
        img {
          height: 5rem;
          margin-bottom: 1.5rem;
        }
        p {
          margin-bottom: 1.5rem;
        }
        .expressLogo {
          padding: 0.8rem 0;
        }
      }
    }
  }
}

// -------------------- Sub technologies section styling ----------------------
// Mobile styling
.container {
  .subTech {
    margin-top: 0.5rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);

    .card {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $clr-nutral-0;
      height: 3rem;
      border-radius: $radius-sm;

      box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);

      img {
        height: 1.5rem;
        padding-right: 1rem;
      }
      p {
        font-size: $fs-200;
      }
    }
  }

  // Tablet styling
  @media (min-width: 36em) {
    .subTech {
      margin-top: 1rem;
      gap: 1rem;
    }
  }

  // Desktop styling
  @media (min-width: 50em) {
    .subTech {
      grid-template-columns: repeat(2, 11.4rem);
    }
  }
}

// ---------------- Git repo link showcase section styling -----------------

// Mobile styling
.gitSection {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .pointerArrowContainer {
    position: relative;
    p {
      font-size: $fs-400;
      font-weight: $fw-semibold;
    }

    img {
      position: absolute;
      top: 1rem;
      right: -3rem;
      width: 5rem;
    }
  }

  .gitBtn {
    margin-top: 2rem;
    background-color: $clr-git;
    padding: 0.4rem 0.8rem;
    border-radius: $radius-xsm;
    color: $clr-nutral-0;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: solid 3px $clr-git;
    transition: color 0.4s ease;

    &:hover {
      color: $clr-nutral-1000;
      background-color: transparent;
    }

    p {
      margin-left: 0.5rem;
    }
  }

  // Tablet styling
  @media (min-width: 36em) {
    .pointerArrowContainer {
      p {
        font-size: $fs-600;
      }

      img {
        top: 1.5rem;
        right: -4.2rem;
        width: 7rem;
      }
    }
    .gitBtn {
      margin-top: 3rem;
    }
  }

  // Desktop styling
  @media (min-width: 50em) {
    .pointerArrowContainer {
      p {
        font-size: $fs-700;
      }

      img {
        top: 2rem;
        right: -4.5rem;
        width: 7rem;
      }
    }
    .gitBtn {
      margin-top: 3rem;
      padding: 0.6rem 1rem;

      p {
        font-size: $fs-300;
      }
    }
  }
}
