.container {
  text-align: center;
  padding: 0 2%;
  padding-bottom: 4rem;

  .heading {
    margin-bottom: 4rem;
  }

  .teamMembers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
