body {
  margin: 0;
  font-family: 'Poppins', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
  width: 100vw;
  margin-top: 150px;
}

.activeNavLink {
    color: #CA0000 !important;
    font-weight: 600 !important;
    font-size: 1.1em;

}