@import "../scss/presets.scss";

.container {
  display: flex;
  justify-content: center;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 3rem);
}

.carouselButton {
  display: none;
}

.cardContainer {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow: scroll;

  border-radius: $radius-sm;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);

  // Hide scrollbar on Firefox
  scrollbar-width: none;
}

// Hide scrollbar on Chrome, Safari
.cardContainer::-webkit-scrollbar {
  display: none;
}

.cardContainer > * {
  flex: 0 0 auto;
  width: 100%;
  scroll-snap-align: center;

  background-color: $clr-nutral-0;
}

.carouselButton {
  background-color: transparent;
  border: none;
  font-size: $fs-400;
  cursor: pointer;
}

@media (min-width: 36em) {
  .carousel {
    .carouselButton {
      display: block;
    }
  }
}

@media (min-width: 50em) {
  .carousel {
    width: 50rem;
  }
}

@media (min-width: 60em) {
  .carousel {
    width: 65rem;
    .cardContainer {
      // height: 30rem;
    }
  }
}
