@import "../scss/presets.scss";

// Mobile styling
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 3rem);
}

.carouselButton {
  display: none;
}

.indicatorContainer {
  display: flex;
}

.selectedIndicator {
  opacity: 0.5;
}

.cardContainer {
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;

  // This is needed to stop our currentSlide number from becoming negative
  overscroll-behavior-x: none;

  border-radius: $radius-sm;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);

  // Hide scrollbar on Firefox
  scrollbar-width: none;
}

// Hide scrollbar on Chrome, Safari
.cardContainer::-webkit-scrollbar {
  display: none;
}

.cardContainer > * {
  flex: 0 0 auto;
  width: 100%;
  scroll-snap-align: center;

  background-color: $clr-nutral-0;
}

.carouselButton {
  background-color: transparent;
  border: none;
  font-size: $fs-400;
  cursor: pointer;
}

// Tablet styling
@media (min-width: 36em) {
  .carousel {
    .carouselButton {
      display: block;
    }
  }
}

// Desktop styling
@media (min-width: 50em) {
  .carousel {
    width: 50rem;
  }
}

@media (min-width: 60em) {
  .carousel {
    width: 65rem;
  }
}
