@import "./presets.scss";

.footer {
  padding: 2rem 3%;
  background-color: $clr-nutral-0;
  display: grid;
  gap: 1.5rem;
  box-shadow: 0px -6px 116px 0px rgba(0, 0, 0, 0.1);

  .section1 {
    .clubLogos {
      display: grid;
      gap: 0.3rem;
      grid-template-columns: repeat(3, 3rem);
      margin-bottom: 1rem;

      img {
        width: 3rem;
      }
    }

    .heading {
      font-size: $fs-300;
      font-weight: $fw-semibold;
    }

    .description {
      font-size: $fs-100;
    }
  }

  .section2 {
    h4 {
      font-weight: $fw-bold;
      position: relative;
      margin-bottom: 1rem;

      &::after {
        position: absolute;
        content: " ";
        background-color: $clr-accent-400;
        width: 5rem;
        height: 3px;
        bottom: 0;
        left: 0;
      }
    }

    .linkColumns {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .column {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;

        a {
          text-decoration: none;
          color: $clr-nutral-1000;
          transition: color 0.2s ease;

          &:hover {
            color: $clr-accent-400;
          }
        }
      }
    }
  }

  .section3 {
    .subscribe {
      h4 {
        font-weight: $fw-bold;
        position: relative;
        margin-bottom: 1rem;

        &::after {
          position: absolute;
          content: " ";
          background-color: $clr-accent-400;
          width: 5rem;
          height: 3px;
          bottom: 0;
          left: 0;
        }
      }

      .inputSection {
        display: flex;
        .email {
          border: none;
          border-radius: $radius-xsm 0 0 $radius-xsm;
          width: 12rem;
          font-size: $fs-100;
          padding: 0 0.5rem;
          background-color: #f1f1f1;

          &:focus {
            outline: none;
          }
        }
        .emailSubBtn {
          display: flex;
          color: white;
          background-color: $clr-accent-400;
          border: none;
          border-radius: 0 $radius-xsm $radius-xsm 0;
          padding: 0.5rem;
        }
      }
    }

    .socials {
      margin-top: 1rem;
      h4 {
        margin-bottom: 0.5rem;
      }
      .socialIcons {
        display: flex;
        gap: 0.5rem;

        .icon {
          cursor: pointer;
          font-size: $fs-200;
          display: flex;
          border: solid black 2px;
          padding: 0.8rem;
          border-radius: 50%;
          transition: color 0.3s ease;

          &:nth-child(1):hover {
            border: #3b5998 2px solid;
            background-color: #3b5998;
            color: $clr-nutral-0;
          }

          &:nth-child(2):hover {
            border: #ff0000 2px solid;
            background-color: #ff0000;
            color: $clr-nutral-0;
          }

          &:nth-child(3):hover {
            border: #0072b1 2px solid;
            background-color: #0072b1;
            color: $clr-nutral-0;
          }

          &:nth-child(4):hover {
            border: #8a3ab9 2px solid;
            background-color: #8a3ab9;
            color: $clr-nutral-0;
          }
        }
      }
    }
  }
}

@media (min-width: 36em) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 50em) {
  .footer {
    gap: 3rem;
    grid-template-columns: 1.5fr 1fr 1fr;
    .section1 {
      .clubLogos {
        gap: 0.5rem;
        grid-template-columns: repeat(3, 3.5rem);
        img {
          width: 3.5rem;
        }
      }
      .heading {
        margin-bottom: 0.5rem;
      }
    }
    .section2 {
      .linkColumns {
        gap: 1rem;
      }
    }
  }
}

.copyrights {
  background-color: #ebebeb;
  padding: 0.2rem 0;
  text-align: center;
  text-transform: uppercase;
  p {
    font-weight: $fw-medium;
  }
  a {
    text-decoration: none;
    color: $clr-accent-400;
    transition: color 0.2s ease;

    &:hover {
      color: $clr-nutral-1000;
    }
  }
}
