@import "../scss/presets.scss";

// hover transition type color and ease
@mixin social {
  transition: color 0.3s ease;
}

// Line space varibale
$line-space: 1rem;

// Mobile styling
.personCard {
  background-color: white;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: $radius-sm;
  width: 23rem;
  padding: 2rem 2rem;

  img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
  }

  .detailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-top: $line-space;

    h3 {
      line-height: 1.5rem;
    }

    .socialIcons {
      display: flex;
      margin-top: $line-space;
      gap: 1rem;

      a {
        text-decoration: none;
        color: $clr-nutral-1000;

        .facebookIcon,
        .twitterIcon,
        .linkedInIcon,
        .instaIcon,
        .gitIcon,
        .ytIcon {
          @include social();
        }

        &:hover .facebookIcon {
          color: #3b5998;
        }
        &:hover .twitterIcon {
          color: #1da1f2;
        }
        &:hover .linkedInIcon {
          color: #0072b1;
        }
        &:hover .instaIcon {
          color: #8a3ab9;
        }
        &:hover .gitIcon {
          color: $clr-git;
        }
        &:hover .ytIcon {
          color: #c4302b;
        }
      }
    }
  }
}

// Desktop styling
@media (min-width: 50em) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .personCard {
    flex-direction: row;
    width: 100%;
    // gap: 2rem;
    img {
      margin-right: 2rem;
      margin-left: 0;
    }
    .detailContainer {
      text-align: left;
      align-items: flex-start;
      justify-content: center;

      margin-top: 0;

      h3 {
        line-height: 2.2rem;
      }
      p {
        width: 30rem;
      }
    }

    // Change card style when card has even index number
    &:nth-child(even) {
      justify-content: flex-end;
      img {
        order: 2;
        margin-left: 2rem;
        margin-right: 0;
      }

      .detailContainer {
        order: 1;
        text-align: right;
        align-items: flex-end;
      }
    }
  }
}

// Give fixed with to the card
@media (min-width: 53.125em) {
  .personCard {
    width: 48rem;
  }
}
