@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Color pallet
$clr-accent-400: #ca0000;
$clr-accent-100: #ffccbb;

$clr-nutral-1000: black;
$clr-nutral-700: #333333;
$clr-nutral-0: white;

$clr-git: #6e5494;

// Fonts
$ff-primary: "Poppins", sans-serif;
$ff-body: $ff-primary;
$ff-heading: $ff-primary;

// Font weights
$fw-exbold: 900;
$fw-bold: 700;
$fw-semibold: 600;
$fw-medium: 500;
$fw-regular: 400;

// Font sizes
$fs-900: 64px;
$fs-800: 54px;
$fs-700: 42px;
$fs-600: 32px;
$fs-400: 24px;
$fs-300: 18px;
$fs-200: 16px;
$fs-100: 12px;

// Border radius
$radius-xsm: 5px;
$radius-sm: 16px;
$radius-md: 32px;
$radius-xsm: 5px;

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
