@import "../../presets.scss";

// Mobile styling
.container {
  display: flex;
  flex-direction: column;
  // width: 90vw;
  box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 10%);
  margin-bottom: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  width: 70vw;
  margin-left: 6rem;

  

  .imgDateContainer {
    position: relative;
    flex: 1;
    display: none;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .dateContainer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      background-color: $clr-accent-400;
      min-width: 30%;
      border-radius: $radius-sm;

      color: $clr-nutral-0;

      p {
        padding: 0 2rem;
        line-height: 1.1;
        text-align: center;
        &:nth-child(1) {
          font-size: 1.5rem;
          padding-top: 1rem;
          font-weight: $fw-semibold;
          line-height: 0.8;
        }
        &:nth-child(2) {
          font-size: 1.2rem;
          font-weight: $fw-medium;
        }

        &:nth-child(3) {
          font-size: 1rem;
          padding-bottom: 1rem;
        }
      }
    }
    .pastEvent {
      background-color: #464646;
    }
  }
  .detailContainer {
    flex: 4;
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .btnContainer {
      padding-top: 1rem;
      button {
        background-color: $clr-accent-400;
        border: solid $clr-accent-400 2px;
        border-radius: 0.3rem;
        padding: 0.2rem 1.2rem;
        font-size: 0.8rem;
        color: $clr-nutral-0;
        cursor: pointer;
        transition: color ease 0.3s;

        &:hover {
          background-color: transparent;
          color: $clr-nutral-1000;
        }
      }
    }
  }

  // Tablet styling
  @media (min-width: 36em) {
    .imgDateContainer {
    display: block;
      .dateContainer {
        p {
          text-align: center;
          &:nth-child(1) {
            font-size: 2.4rem;
            padding-top: 1rem;
            font-weight: $fw-semibold;
            line-height: 0.8;
          }
          &:nth-child(2) {
            font-size: 1.8rem;
            font-weight: $fw-medium;
          }

          &:nth-child(3) {
            font-size: 1.5rem;
            padding-bottom: 1rem;
          }
        }
      }
    }
    .detailContainer {
      .btnContainer {
        button {
          padding: 0.3rem 1.5rem;
          font-size: 0.9rem;
        }
      }
    }
  }

  // Desktop sizing
  @media (min-width: 40em) {
    flex-direction: row;
    min-height: 18rem;
    .imgDateContainer {
      flex: 3;
      width: 100%;
      img {
        object-fit: cover;
        height: 100%;
        overflow: hidden;
      }
      .dateContainer {
        p {
          text-align: center;
          &:nth-child(1) {
            font-size: 2.4rem;
            padding-top: 1rem;
            font-weight: $fw-semibold;
            line-height: 0.8;
          }
          &:nth-child(2) {
            font-size: 1.8rem;
            font-weight: $fw-medium;
          }

          &:nth-child(3) {
            font-size: 1.5rem;
            padding-bottom: 1rem;
          }
        }
      }
    }
    .detailContainer {
      flex: 7;
      width: 100%;
      padding: 1rem;
      display: flex;
      height: auto;
      align-items: flex-end;
      
      .btnContainer {
        display: flex;
        justify-content: flex-end;
        button {
          border-radius: 1rem;
          padding: 0.4rem 2rem;
          font-size: 1.1rem;
        }
      }
    }
  }
}
