@import "../../presets.scss";

.timeline {
    width: 5px;
    height: 110%;
    background-color: $clr-accent-400;
    position: relative;
    margin-right: 30px;
    position: absolute;
    left: 15%;
    top: 0;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: $clr-accent-400;
    position: absolute;
    top: 0;
    left: -8px;
}

.timelineObject {
    display: flex;
    width: 100vw;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.month {
    text-align: end;
    position: absolute;
    left: -90px;
    font-size: 1.2em;
}