@import "../presets.scss";
@import "../global.scss";
$base: 0.6rem;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 2.5% 4.5rem;
  margin-top: -20px;

  h1 {
    text-transform: uppercase;
  }

  .heroSVG {
    width: 600px;
    padding: 2.5rem 0;
    margin-bottom: 1.5rem;
  }

  // .scrollIcon {
  //   width: 30px;
  // }

  .arrow span {
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 3.5px solid #000000;
    border-right: 3.5px solid #000000;
    transform: rotate(45deg);
    margin: -15px;
    animation: animate 2s infinite;
    cursor: pointer;
  }

  .arrow span:nth-child(2) {
    animation-delay: -0.2s;
  }

  .arrow span:nth-child(3) {
    animation-delay: -0.4s;
  }

  @media (max-width: 50em) {
    .heroSVG {
      width: 400px;
      padding: 2rem 0;
      margin-bottom: 1.5rem;
    }

    h1 {
      text-transform: uppercase;
      font-size: $fs-700;
    }

    .arrow span {
      display: block;
      width: 15px;
      height: 15px;
      border-bottom: 2.5px solid #000000;
      border-right: 2.5px solid #000000;
      transform: rotate(45deg);
      margin: -8px;
      animation: animate 2s infinite;
    }
    // .scrollIcon {
    //   padding-top: 2rem;
    //   width: 30px;
    // }
  }

  @media (max-width: 36em) {
    .heroSVG {
      width: 350px;
      padding: 1.5rem 0;
      margin-bottom: 1.5rem;
    }

    h1 {
      text-transform: uppercase;
      font-size: $fs-600;
    }
    .arrow span {
      display: block;
      width: 18px;
      height: 18px;
      border-bottom: 2.5px solid #000000;
      border-right: 2.5px solid #000000;
      transform: rotate(45deg);
      margin: -13px;
      animation: animate 2s infinite;
    }
    // .scrollIcon {
    //   padding-top: 1.5rem;
    //   width: 20px;
    // }
  }

  // Scroll icon animation
  @keyframes animate {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
  }
}
