@import "../presets.scss";
@import "../global.scss";
$base: 0.6rem;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 2.5%;
  margin-bottom: 5rem;

  h1 {
    text-transform: uppercase;
    font-size: $fs-700;
  }

  .heroSVG {
    width: 600px;
    padding: 2.5rem 0;
  }

  // .scrollIcon {
  //   width: 30px;
  // }

  @media (max-width: 50em) {
    .heroSVG {
      width: 200px;
      padding: 2rem 0;
    }
    // .scrollIcon {
    //   padding-top: 2rem;
    //   width: 30px;
    // }
  }

  @media (max-width: 36em) {
    .heroSVG {
      width: 200px;
      padding: 1.5rem 0;
    }
    // .scrollIcon {
    //   padding-top: 1.5rem;
    //   width: 20px;
    // }
  }

  .arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 4.5px solid #000000;
    border-right: 4.5px solid #000000;
    transform: rotate(45deg);
    margin: -20px;
    animation: animate 2s infinite;
  }
  .arrow span:nth-child(2) {
    animation-delay: -0.2s;
  }
  .arrow span:nth-child(3) {
    animation-delay: -0.4s;
  }
  @keyframes animate {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
  }
}
